*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px; */
}
#logo{
    margin: 40px auto;
    font-family: 'Ubuntu', sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: #2b2c30;
    text-align: center;
    letter-spacing: 5px;
    text-shadow: 3px 0px 7px rgba(56, 94, 244, 0.8), -3px 0px 7px rgba(66, 123, 207, 0.8), 0px 4px 7px rgba(58, 87, 216, 0.8);

    }
  

    h2{
        font-size: 2rem;
    }